@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.text-slate-600 {
  color: #293845;
}
.btn-purple {
  background-color: #04ec04;
  color: #ffffff;
}

.btn-purple:hover {
  background-color: #00c400;
  color: #ffffff;
}

.item-container {
  color: #363f48;
  border-radius: 25px;
  border: solid 2px #36434e;
  min-width: 800px;
  max-width: 800px;
  margin-top: 15px;
}

.cursor-pointer {
  cursor: pointer;
}
